.container {
  overflow: scroll;
  background-image: url('../public/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* overflow: scroll; */
}

.blocks {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  padding: 20px;
  width: 50%;
  border-radius: 10px;
  border: 1px solid #ddd;
  animation: 1s 1 alternate slidein;
}

@keyframes slidein {
  from {
    margin-left: -100%;
    width: -50%;
  }

  to {
    margin-left: 0%;
    width: 50%;
  }
}

.title {
}

.text {
}

.topBarText {
  color: #1E009E;
}

.main { 
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  padding: 50px;
  gap: 100px;
  margin-top: 140px;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 20px;
}
