.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  width: 100%;
  box-shadow: 0 0 5px 1px #aaa;
  /* border-top: 1px solid #eaeaea; */
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}