.wrapper {
  overflow: scroll;
  background-color: black;
  align-items: center;
}

.container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-left: 20%;
  align-self: center;
  gap: 100px;
  margin-bottom: 100px;
}

.blocksBackground{
  position: fixed;
  display: flex;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 800px;
  height: 800px;
	border-radius: 50% 22% 40% 80%;  
	filter: blur(100px);
  background: radial-gradient(circle at 50% 50%,rgba(76, 0, 255, 1), rgba(76, 0, 255, 0));
  opacity: 0.2;
}

.blocks {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.text {
  text-align: center;
  font-size: 20px;
}

.topBarText {
  color: #1E009E;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 30px;
  font-weight: bold;
  align-self: center;
}
