.container {
  overflow: scroll;
  background-color: black;
  /* background-image: url('../public/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; */
}

.blocksBackground{
  position: fixed;
  display: flex;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, 0%);
  width: 800px;
  height: 800px;
	border-radius: 50% 22% 40% 80%;  
	filter: blur(100px);
  background: radial-gradient(circle at 50% 50%,rgba(76, 0, 255, 1), rgba(76, 0, 255, 0));
  opacity: 0.2;
}

.blocks {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 50%;
  animation: 1s 1 alternate slidein;
}

@keyframes slidein {
  from {
    margin-left: -100%;
    width: -50%;
  }

  to {
    margin-left: 0%;
    width: 50%;
  }
}

.text {
  text-align: center;
  font-size: 20px;
}

.topBarText {
  color: #1E009E;
}

.main { 
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  padding: 50px;
  gap: 100px;
  margin-top: 80px;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 30px;
  font-weight: bold;
  align-self: center;
}
