.wrapper {
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(45deg, black, #2A20AB, #A40515, black) 1;
  padding: 20px;
  margin: 40px;
}

.text {
  text-align: center;
  font-size: 20px;
  padding: 20px;
}

.title {
  line-height: 1.15;
  font-size: 30px;
  font-weight: bold;
  align-self: center;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  text-align: center;
}

.sponsorText {
  text-align: center;
}

.sponsorBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:10px
}

.container {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 900px)  {
    .container {
      flex-direction: column;
    }

    .text {
      padding: 10px;
    }

    .wrapper {
      margin: 10px;
      padding: 10px;
    }

    .title {
      font-size: 30px;
    }
}